/* Bootstrap Overides */
$navbar-height: 0px;
$input-height-base: 50px;
$font-family-sans-serif: 'Open Sans';
$icon-font-path: '/assets/fonts/';
$icon-font-name: 'open-sans-v15-latin-regular';


/* Navbar */
$sidebar-width: 250px;

/* Custom */
$green-grad-start: #4db6bb;
$green-grad-end: #008186;
$grey: #f2f2f4;