prepend sidebar
  - var __sidebar = [{title: 'Course Management', url: rootifyPath(''), favicon: ''}, {title: 'Account Management', url: rootifyPath('accountmanagement'), favicon: ''}, {title: 'School Management', url: rootifyPath('schoolmanagement'), favicon: ''}, {title: 'Sync Management', url: rootifyPath('synchronization'), favicon: ''}]
