prepend sidebar
  //- var __sidebar = [{title: 'Course Management', url: rootifyPath(''), faicon: ''}, {title: 'Account Management', url: rootifyPath('accountmanagement'), faicon: ''}, {title: 'School Management', url: rootifyPath('schoolmanagement'), faicon: ''}, {title: 'Student Monitor', url: rootifyPath('student-monitor'), faicon: '', children: [{title: 'Flot Charts', url: 'flot.html'}]}, {title: 'Sync Management', url: rootifyPath('synchronization'), faicon: ''}]

  - var __sidebar = [{title: 'Course Management', url: rootifyPath(''), faicon: ''}, {title: 'Account Management', url: rootifyPath('accountmanagement'), faicon: ''}, {title: 'School Management', url: rootifyPath('schoolmanagement'), faicon: ''}, {title: 'Student Monitor', faicon: '', url: rootifyPath('student-monitor')}, {title: 'Sync Management', url: rootifyPath('synchronization'), faicon: ''}]
