html
  head
    block head
      title Filosedu - Belajar itu Menyenangkan.
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      <!-- Latest compiled and minified CSS -->
      link(rel="stylesheet" href="/vendor/bootstrap3.3.7/css/bootstrap.min.css")
      <!-- Optional theme -->
      link(rel="stylesheet" href="/css/common-style.css")
