.form-group {
  button {
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, #4db6bb, rgba(0, 129, 134, 0.8));
    border-style: none;
    height: 50px;
  }
}

.rounded-button {
  width: 264px;
  height: 68px;
  border-radius: 33.8px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.03;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  text-align: center;
  background-color: white;
}

.smaller-rounded-button {
  @extend .rounded-button;
  width: 150px;
  border-radius: 16px;
}

.smallest-rounded-button {
  @extend .rounded-button;
  width: 50px;
  border-radius: 16px;
}