table.image-repeat {
  margin: auto;
}

.exercise-position {
  margin-bottom: 20px;
  font-size: 10px;
  line-height: 2.1;
  letter-spacing: -0.3px;
  text-align: center;
  color: #bebebe;
}

.exercise-content {
  margin-bottom: 20px;
}

#submissionError {
  color: red;
}