a {
  color: black;
}

.exercise-container {
  margin-top: 20px;
}

#close-container {
  position: absolute;
  top: 25px;
  right: 25px;
}


#header {
  position: relative;
  #timer {
    position: fixed;
    top: 25px;
    right: 15px;

    #elapsedTime {
      margin-left: 5px;
      font-size: 10px;
    }
  }
}

#heading-image {
  width: 50%;
}

#questions-container {
  form {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
    background: white;
    border-radius: 4px;
  }

  .rendered-question {
    margin:auto;
  }

  .user-answer {
    // width: 40%;
    margin: auto;
    .variable {
      height: 30px;
      font-size: 20px;
      padding-right: 10px;
    }

    input {
      max-width: 100%;
      height: 30px;
      border-radius: 4px;
      border: solid #f1ebeb 1px;
      text-align: center;
      width: auto;
    }

    input::placeholder {
      color: #bebdbd;
    }
  }
}

.exercise-position {
  margin-bottom: 20px;
  font-size: 10px;
  line-height: 2.1;
  letter-spacing: -0.3px;
  text-align: center;
  color: #bebebe;
}

.exercise-content {
  margin-bottom: 20px;
}

#submissionError {
  color: red;
}

.exercise-timer {
  display: inline-block;
  width: 100%;
  margin: 0;

  img {
      width: 15px;
      margin-right: 5px;
      display: inline-block;
  }
  #btn-reset {
    color: black;
  }
}

.virtual-keyboard {
  width: 100%;
  text-align: center;
  margin: 20px auto auto 0;
}

// ImageHelper, which is uses by user-submitted exercise code relies on
// this to center the image.
table.image-repeat {
  margin: auto;
}