table.image-repeat {
  margin: auto;
}

.exercise-position {
  margin-bottom: 20px;
  font-size: 10px;
  line-height: 2.1;
  letter-spacing: -0.3px;
  text-align: center;
  color: #bebebe;
}

.exercise-content {
  margin-bottom: 20px;
}

#submissionError {
  color: red;
}

.exercise-timer {
  display: inline-block;
  width: 100%;
  margin: 0;

  img {
      width: 15px;
      margin-right: 5px;
      display: inline-block;
  }
  #btn-reset {
    color: black;
  }
}

.virtual-keyboard {
  width: 100%;
  text-align: center;
  margin: 20px auto auto 0;
}