.inn-bar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
      color: #fff;
      opacity: .5;
      text-decoration: none;
      font-size: 14px;
      display: inline-block;
      padding: 5px 10px;
      font-family: $font-body;
      text-transform: uppercase;
  }
  a.active {
      opacity: 1;
  }
}

.inn-bar-account {
  text-align: right;
  a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      font-family: $font-body;
  }
}

// #00a089
.subbar {
  -webkit-box-shadow: 0px 4px 14px -3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 14px -3px rgba(0,0,0,0.2);
  box-shadow: 0px 4px 14px -3px rgba(0,0,0,0.2);
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-left: 50px;
  background: linear-gradient(to top, $bg-color-third, $bg-color-first);
  top: 0;
  .row-bar {
    height: $row-bar-height;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    a {
        font-weight: 300;
        text-decoration: none !important;
    }
    a:hover {
        color: #fff;
        opacity: .8;
    }
  }
  .row-minibar {
    padding: 0 25px;
    height: $row-minibar-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    a.link-back {
      position: absolute;
      left: 0;
      // So that the link can easily be clicked
      z-index: 10;
      $link-back-horizontal-padding: ($row-minibar-height / 2 - 6 + $row-bar-height) / 2;
      $link-back-vertical-padding: 25px;
      padding-top: $link-back-horizontal-padding;
      padding-bottom: $link-back-horizontal-padding;
      padding-left: 25px;
      padding-right: 25px;
      color: #fff;
      text-decoration: none;
      #minibar-left-menu {
        width: 35px;
      }
    }
  
    #minibar-mid-menu {
      h1 {
          margin: 0;
          font-size: 14px;
          text-transform: uppercase;
      }
  
      #sub-heading {
        font-size: 13px;
        margin-top: 5px;
        opacity: 0.6;
        text-transform: capitalize;
        display: block;
      }
    }
  
    .bread {
      margin: 0 10px;
    }
  }
}

// Since subbar occupies to top-most part of the screen, we need to offset the content
.container { 
  margin-top: $row-bar-height + $row-minibar-height + $row-bar-margin-bottom;
}

@media (max-width: 992px) {
  .desktop-only {
    display: none !important;
  }
  // On this scale, only the minibar is shown, hence the offset changes
  .container {
    margin-top: $row-minibar-height + $row-bar-margin-bottom;
  }
  .subbar {
    padding-left: 0px;
    .row-bar {
      display: none;
      .inn-bar-account {
        display: none;
      }
    }
    .row-minibar {
        justify-content: center !important;
        a.link-back {
          $link-back-horizontal-padding: ($row-minibar-height / 2 - 6) / 2;
          $link-back-vertical-padding: 25px;
          padding-top: $link-back-horizontal-padding;
          padding-bottom: $link-back-horizontal-padding;
          padding-left: $link-back-vertical-padding;
          padding-right: $link-back-vertical-padding;
        }
    }
  }
  .card-blok {
      margin: 20px 15px !important;
  }
}
