/* Bootstrap Overides */
$navbar-height: 0px;
$input-height-base: 50px;
$font-family-sans-serif: 'Open Sans';
$icon-font-path: '/assets/fonts/';
$icon-font-name: 'open-sans-v15-latin-regular';


/* Navbar */
$sidebar-width: 250px;

/* Custom */
$green-grad-start: #4db6bb;
$green-grad-end: #008186;
$grey: #f2f2f4;

//
$font-logo: 'Amatic SC', cursive;
$font-body: 'Open Sans', sans-serif;

/* First two for body, first and third for subbar */
$bg-color-first: #008f7a !default;
$bg-color-second: #0089ba !default;
$bg-color-third: #00a089 !default;

/* Subbar */
$row-bar-height: 75px !default;
$row-minibar-height: 50px !default;
$row-bar-margin-bottom: 20px !default;