extends ../layout/index.pug
include ../includes/utils.pug

append head
  link(rel="stylesheet" href="/assets/css/topics-style.css")
  style.
    .btn {
      margin: 1%;
    }

append initialization
  - const activePage = 'modules'

block contents
  div.container
    if user
      p= 'Selamat Datang, ' + user.fullName || user.username
    .row.jumbotron.text-center
      .col-md-12
        img(src="/assets/img/logo.png")
      .col-md-12
        p.
          Uji kompetensi telah dibatalkan. Nilai hanya dapat dilihat bila uji kompetensi diselesaikan.
      .col-md-12
        a.btn.btn-primary(href="/uji-kompetensi") Ulangi
append scripts