extends ../layout/index.pug
include ../includes/utils.pug

append head
  link(rel="stylesheet" href="/assets/css/competency-exercise.css")
  link(rel="stylesheet" href="/assets/vendor/toastr/toastr.css")

block contents
  .container.text-center
    .row
      .col-md-12
        img#heading-image(src='/assets/img/competency-finished.png' srcset='/assets/img/competency-finished@2x.png 2x, /assets/img/competency-finished@3x.png 3x')
    .row
      .col-md-12
        h1 Good Job!
    .row
      .col-md-12
        p Dapatkan analisa kemampuanmu lebih detail dari team Filosedu dengan memasukan informasi kontakmu.
    .row.text-center
      .col-xs-10#contact-information
        .form-group
          input#input-name.form-control(type="text" placeholder="Nama")
          input#input-email.form-control(type="text" placeholder="Email")
          input#input-phone.form-control(type="text" placeholder="No. Telpon")
    .row
      .col-md-12
        button.rounded-button#btn-contact-us Lanjutkan

append scripts
  script(src=`${bundle}`)
