extends layout/index.pug

block initialization
  - const activePage = 'login'

append head
  link(rel="stylesheet" href="/assets/vendor/select2/select2.min.css")
  link(rel="stylesheet" href="/assets/css/login.css")
  style.

block contents
  div#bg-image
  div.container
    .col-md-6.col-sm-12#left-pane
      #content
        #cover-image
        p#heading
          | Bimbingan belajar dengan metode "Blended Learning"
        p
          | Merupakan metode belajar yang memadukan peran penting seorang guru dengan kecanggihan teknologi.
    .col-md-6.col-sm-12#right-pane
      form(role="form" action="/login" method="post")
        .text-center.row
          .col-md-12
            img(src="/assets/img/login/icon.png" srcset="/assets/img/login/icon@2x.png 2x, /assets/img/login/icon@3x.png 3x" class="Icon")
          .col-md-12
            img(src="/assets/img/login/logo.png" srcset="/assets/img/login/logo@2x.png 2x, /assets/img/login/logo@3x.png 3x" class="Icon")
            #slogan Belajar Lebih Menyenangkan
        div.form-group#login-form
          select.select2.form-control(name="schoolId" placeholder="School")
            each val in schools
              option(value=`${val.id}` data-logo=`${val.logo}`) #{val.name}
          input(type="text" placeholder="Username" name="username" class="form-control")
          input(type="password" placeholder="password" name="password" class="form-control")
          button#login-button(type="submit" class="btn btn-primary") LOGIN

      if error.length > 0
        .row
          .col-md-12.text-center
            .alert.alert-danger(role='alert')= error
          button(type="submit" class="btn btn-primary") SUBMIT
    // if !cloudServer
    //   .row
    //     .col-md-12
    //       | Belum memiliki account? Klik #[a(href='/register') disini] untuk register.

append scripts
  script(type="text/javascript" src="/assets/vendor/select2/select2.min.js")