extends layout/base-with-subbar

append head
  link(rel='stylesheet' href='/assets/css/student-dashboard.css')
  link(rel="stylesheet" type="text/css" href='/assets/vendor/data-table/css/datatables.min.css')
  link(rel="stylesheet" type="text/css" href='/assets/vendor/data-table/css/dataTables.responsive.css')
  link(rel="stylesheet" type="text/css" href='/assets/vendor/nc-input-library/style.css')
  link(rel="stylesheet" type="text/css" href='assets/css/nprogress.css')
  link(rel="stylesheet" type="text/css" href='assets/css/toastr.min.css')
  link(rel="stylesheet" href="/assets/vendor/select2/select2.min.css")

block pageContent
  .container
    .row
      .col-md-12
        #subtopic-summary
        #last-subtopic-submissions
        #last-topic-submissions
        #num-submissions-since

append scripts
  script(src=`${bundle}`)