extends layout/base-with-subbar.pug

append head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/assets/css/topic.css')
  link(rel='stylesheet' href='/assets/css/base.css')

block pageContent
  .container
    //.row.mobile-only
      h1 Hello World!
    .row
      .col-md-6.col-lg-6
        .card-blok
          .card-blok-inner
            .justify-between
              h1 Penjumlahan
              .badge-checkmark
                label
                  img(src='assets/img/ic-checked@3x.png' alt='')
                ul
                  li
                    img(src='assets/img/star@3x.png' alt='')
                  li
                    img(src='assets/img/timer@3x.png' alt='')
            p.value-topik 12 Topik
            .progress-bintang
              span.rating
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
              span.timing
                img(src='/assets/img/timer@3x.png' alt='bintang')
                img(src='/assets/img/timer@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
          a.card-block-footer(href='#')
            | Ulangi Review
            i.fa.fa-undo
      .col-md-6.col-lg-6
        .card-blok
          .card-blok-inner
            .justify-between
              h1 Perkalian
              .badge-checkmark
                label
                  img(src='assets/img/ic-checked-dist@3x.png' alt='')
                ul
                  li
                    img(src='assets/img/star@3x.png' alt='')
                  li
                    img(src='assets/img/timer-dis@3x.png' alt='')
            p.value-topik 20 Topik
            .progress-bintang
              span.rating
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
              span.timing
                img(src='/assets/img/timer@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
          a.card-block-footer(href='#') Review
      .col-md-6.col-lg-6
        .card-blok
          .card-blok-inner
            .justify-between
              h1 Penjumlahan
              .badge-checkmark
                label
                  img(src='assets/img/ic-checked-dist@3x.png' alt='')
                ul
                  li
                    img(src='assets/img/star-dis@3x.png' alt='')
                  li
                    img(src='assets/img/timer-dis@3x.png' alt='')
            p.value-topik 15 Topik
            .progress-bintang
              span.rating
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
              span.timing
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
          a.card-block-footer(href='#') Review
      .col-md-6.col-lg-6
        .card-blok
          .card-blok-inner
            .justify-between
              h1 Penjumlahan
              .badge-checkmark
                label
                  img(src='assets/img/ic-checked-dist@3x.png' alt='')
                ul
                  li
                    img(src='assets/img/star-dis@3x.png' alt='')
                  li
                    img(src='assets/img/timer-dis@3x.png' alt='')
            p.value-topik 12 Topik
            .progress-bintang
              span.rating
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
              span.timing
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
          a.card-block-footer(href='#') Review
      .col-md-6.col-lg-6
        .card-blok
          .card-blok-inner
            .justify-between
              h1 Bilangan Bulat
              .badge-checkmark
                label
                  img(src='assets/img/ic-checked-dist@3x.png' alt='')
                ul
                  li
                    img(src='assets/img/star-dis@3x.png' alt='')
                  li
                    img(src='assets/img/timer-dis@3x.png' alt='')
            p.value-topik 15 Topik
            .progress-bintang
              span.rating
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
              span.timing
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
          a.card-block-footer(href='#') Review
      .col-md-6.col-lg-6
        .card-blok
          .card-blok-inner
            .justify-between
              h1 Pecahan
              .badge-checkmark
                label
                  img(src='assets/img/ic-checked-dist@3x.png' alt='')
                ul
                  li
                    img(src='assets/img/star-dis@3x.png' alt='')
                  li
                    img(src='assets/img/timer-dis@3x.png' alt='')
            p.value-topik 12 Topik
            .progress-bintang
              span.rating
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
              span.timing
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
          a.card-block-footer(href='#') Review