html
  head
    title Aljabar Linear
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  body
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Filosedu</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Homepage</a></li>
            <li><a href="#">Course</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    div.container
      h1.text-center Result Question
      h4.text-center You only answer 
        span(style="color:green") 30% 
        | of the question
      hr

      each val, index in question
        div.form-group
          | #{index + 1}. 
          | #{val} 
          input.form-control(type="text" value=`${answer[index]}`)
          if (resultAnswer[index])
            span(style="color:green") Correct
          else
            span(style="color:red") Incorrect
          br

      //- p Question  
      //- p 1. 5 + x = 7, what is x?
      //- p 2. 5 + x = 7, what is x?
      //- p 3. 5 + x = 7, what is x?
      //- p 4. 5 + x = 7, what is x?
      //- p 5. 5 + x = 7, what is x?
      //- p 6. 5 + x = 7, what is x?
      //- p 7. 5 + x = 7, what is x?
      //- p 8. 5 + x = 7, what is x?
      //- p 9. 5 + x = 7, what is x?
      //- p 10. 5 + x = 7, what is x?

      //- p Answer  
      //- p 1.
      //-   |
      //-   input(type="text" value="1")
      //-   span(style="color:red;" ) Incorrect
      //-   | , Answer is 2
      //- p 2.
      //-   |
      //-   input(type="text" value="2")
      //-   span(style="color:green;" ) Correct
      //- p 3.
      //-   |
      //-   input(type="text" value="2")
      //-   span(style="color:green;" ) Correct
      //- p 4.
      //-   |
      //-   input(type="text" value="2")
      //-   span(style="color:green;" ) Correct
      //- p 5.
      //-   |
      //-   input(type="text" value="1")
      //-   span(style="color:red;" ) Incorrect
      //-   | , Answer is 2
      //- p 6.
      //-   |
      //-   input(type="text" value="3")
      //-   span(style="color:red;" ) Incorrect
      //-   | , Answer is 2
      //- p 7.
      //-   |
      //-   input(type="text" value="5")
      //-   span(style="color:red;" ) Incorrect
      //-   | , Answer is 2
      //- p 8.
      //-   |
      //-   input(type="text" value="5")
      //-   span(style="color:red;" ) Incorrect
      //-   | , Answer is 2
      //- p 9.
      //-   |
      //-   input(type="text" value="5")
      //-   span(style="color:red;" ) Incorrect
      //-   | , Answer is 2
      //- p 10.
      //-   |
      //-   input(type="text" value="5")
      //-   span(style="color:red;" ) Incorrect
      //-   | , Answer is 2

      div.text-center(style="margin-top:50px;margin-bottom:50px;")
        p Haven't satisfied with the score?
        p Don't worry, you can retake the Quiz again.
        a.btn.btn-primary.btn_submit_answer(href="/") Retake Quiz
        | 
        a.btn.btn-danger.btn_quit(href="/subtopic2") Next Course

    script(src="https://code.jquery.com/jquery-3.2.1.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script.
