extends layout/index.pug

block contents
  div.container
    if user
      p= 'Welcome Back, ' + user.username


    .row
      .col-md-12
      h1 Belajar:
    each val, index in data
      .row
        .col-md12
        a(href=`/topic/${getSlug(val.subtopic)}-${val.id}` class="btn btn-primary") #{val.subtopic}

