extends layout/index.pug

block initialization
  - const activePage = 'login'

block contents
  div.container
    .row
      .col-md-12
        form(role="form" action="/login" method="post")
          div.form-group
            label Username
            input(type="text" name="username" class="form-control")
          div.form-group
            label Password
            input(type="password" name="password" class="form-control")
          if error.length > 0
            .alert.alert-danger(role='alert')= error
          button(type="submit" class="btn btn-primary") SUBMIT
    .row
      .col-md-12
        | Belum memiliki account? Klik #[a(href='/register') disini] untuk register.
