extends layout/index.pug

block contents
    div.container
      form(action="/submitlogin" method="POST")
        div.form-group
          label Username
          input(type="text" name="username" class="form-control")
        div.form-group
          label Password
          input(type="text" name="password" class="form-control")
        div.form-group
          button(type="submit" class="btn btn-primary") SUBMIT
