extends layout/index.pug

block initialization
  - const activePage = 'register'

append head
  link(rel="stylesheet" href="/assets/vendor/select2/select2.min.css")

block contents
  div.container
    form(action="/register" method="POST")
      div.form-group
        #logoSchool.text-center
      div.form-group
        label Sekolah
        select.select2.form-control(name="schoolId")
          each val in schools
            option(value=`${val.id}` data-logo=`${val.logo}`) #{val.name}
      div.form-group
        label Kelas
        select.form-control(name="grade")
          option(value="1") 1
          option(value="2") 2
          option(value="3") 3
          option(value="4") 4
          option(value="5") 5
          option(value="6") 6
      div.form-group
        label Nama Lengkap
        input(type="text" name="fullName" class="form-control")
      div.form-group
        label Username
        input(type="text" name="username" class="form-control")
      div.form-group
        label Kata Sandi
        input(type="password" name="password" class="form-control")
      div.form-group
        label Ulangi Kata Sandi
        input(type="password" name="passwordConfirm" class="form-control")
      div.form-group
        label Email
        input(type="text" name="email" class="form-control")
      if error.length > 0
        .alert.alert-danger(role='alert')= error

      div.form-group
        button(type="submit" class="btn btn-primary") SUBMIT
append scripts
  script(type="text/javascript" src="/assets/vendor/select2/select2.min.js")
  script.
    $('.select2').select2()
    $(document).ready(function (e) {
      $('select[name=schoolId]').on('change', function (e) {
        changeLogoImage($(this).find(':selected').data('logo'))
      })
      var dataLogoURL = $('select[name=schoolId]').find(':selected').data('logo')
      changeLogoImage(dataLogoURL)
    })

    function changeLogoImage (logoURL) {
      $('#logoSchool').empty()
      $('#logoSchool').append('<img src="' + logoURL + '" class="img-responsive" style="margin:0 auto;height:300px;"/>')
    }
