extends layout/index.pug

block initialization
  - const activePage = 'register'

block contents
  div.container
    form(action="/register" method="POST")
      div.form-group
        label Full Name
        input(type="text" name="fullName" class="form-control")
      div.form-group
        label Username
        input(type="text" name="username" class="form-control")
      div.form-group
        label Password
        input(type="password" name="password" class="form-control")
      div.form-group
        label Confirm Password
        input(type="password" name="passwordConfirm" class="form-control")
      div.form-group
        label Email
        input(type="text" name="email" class="form-control")
      if error.length > 0
        .alert.alert-danger(role='alert')= error

      div.form-group
        button(type="submit" class="btn btn-primary") SUBMIT
