html
  head
    title Aljabar Linear 2
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  body
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Filosedu</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Homepage</a></li>
            <li><a href="#">Course</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    div.container
      h1.text-center Aljabar Linear 2
      hr
      h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in diam ac nibh porta pretium. Mauris interdum, risus id placerat aliquam, nisl lorem varius massa, ac vestibulum urna ex non enim. Proin ut neque quis purus faucibus congue. Morbi congue posuere faucibus. Nam ac velit eget nunc ullamcorper hendrerit. Maecenas cursus quis dui in ornare. Quisque facilisis sapien egestas lectus consectetur, in vehicula enim pharetra. Sed non metus fermentum, ornare erat non, venenatis risus. Nunc ante arcu, tincidunt in ante sit amet, posuere congue sem. Duis cursus, sem ac vulputate faucibus, ligula arcu auctor eros, at ultricies dolor lacus id augue.

      h3 Quisque tristique, mi ut ullamcorper efficitur, purus odio ornare libero, et iaculis odio leo non purus. Vestibulum vel nisl nec dui pharetra aliquet nec et nisl. Aliquam pharetra erat ac justo iaculis venenatis. Vivamus semper posuere posuere. Nam vel purus vel sem tristique iaculis vitae sed massa. Maecenas pulvinar eros vel mattis pretium. In accumsan euismod aliquet. Sed ipsum est, interdum ac dolor sed, vehicula maximus ligula. Duis arcu est, commodo sed blandit eu, dignissim eu turpis.

      h3 Vivamus ut est purus. In hac habitasse platea dictumst. Etiam tempus justo ac lacinia ultricies. Aenean laoreet felis in pharetra interdum. Nulla ut lacus libero. Mauris eget eros vitae lorem lacinia dapibus vel et tortor. Suspendisse non dignissim mauris. Nunc auctor lorem felis, at lobortis ligula ultricies ut. Nullam ac eros urna. Pellentesque vel suscipit urna. Nullam iaculis, diam et lacinia porttitor, dolor felis malesuada nisl, id bibendum mauris sem sed ligula. Praesent lacinia ultrices enim, sit amet finibus nunc finibus eu. Vestibulum aliquam tempus commodo.

      <iframe width="100%" height="315" src="https://www.youtube.com/embed/N36BynBuz0c" frameborder="0" allowfullscreen></iframe>

      div.text-center(style="margin-top:50px;margin-bottom:50px;")
        a.btn.btn-primary(href="/question") START COURSE

    script(src="https://code.jquery.com/jquery-3.2.1.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
