extends base

append head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // link(href='https://fonts.googleapis.com/css?family=Amatic+SC&display=swap' rel='stylesheet')
  // link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap' rel='stylesheet')

block contents
  #wrapper
    // Required by sidebar
    .overlay
      nav.navbar.navbar-default
        .container-fluid
          nav#sidebar-wrapper.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            ul.nav.sidebar-nav
              li.sidebar-brand
                a(href='https://www.filosedu.com') Filosedu
              li
                a(href='/login') Login
              li
                a(href='/') Area Belajar
              li
                a(href='/competency-exercise') Uji Kompetensi
    #page-content-wrapper.section-fix
      button.hamburger.is-closed(type='button' data-toggle='offcanvas')
        span.hamb-top
        span.hamb-middle
        span.hamb-bottom
      nav.subbar
        .row-bar
          .col-lg-4
            h1.logo-edu
              a(href='#') Filosedu
          .col-lg-4
            .inn-bar-link
              // block subbarMenu
              // a(href='#') Uji Kompetensi
              // a.active(href='#') Arena Belajar
          .col-lg-4
            .inn-bar-account
              a(href='#')
                | Halo,
                span  #{user.fullName}!
        .row-minibar
          block minibarLeftMenu
          .col-lg-12#minibar-mid-menu
            // h1 Matematika
            block minibarMidMenu
      block pageContent